* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  background-color: beige;
}

.header-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid silver;
  background-color: white;
}

.invitations {
  display: flex;
  margin-right: 70rem;
}

.manage-div {
  display: flex;
}

.manage-button {
  color: grey;
  font-weight: 600;
}

.people-you-know {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.people {
  display: flex;
  margin-right: 55rem;
}

.see-all-button {
  display: flex;
  font-weight: 600;
  color: grey;
}

.contacts {
  margin-top: 1rem;
  border: 1px solid silver;
  background-color: white;
}

#all-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 85%;
  flex-wrap: wrap;
  padding: 1rem;
  margin-left: 6rem;
  gap: 1rem;
}

#little-card {
  display: block;
  height: 80%;
  row-gap: 2rem;
  border: 1px solid lightgrey;
  border-radius: 5%;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-color: white;
  text-align: center;
  inline-size: 20%;
  overflow-wrap: break-word;
}

#connect-button {
  border: 1px solid darkblue;
  color: darkblue;
  background-color: white;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border-radius: 10rem;
  cursor: pointer;
}

#photo {
  border-radius: 50%;
}

#friend-name {
  font-size: 16px;
  font-weight: 800;
}

#job {
  font-size: 15px;
}
/*
.contact-card {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  width: 16rem;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 25%;
  background-color: 50% white;
} 
*/
